body{
    margin: 0;
    padding: 0;
    background-color:honeydew;
    font-family: 'Roboto Slab', serif;
}
.navbar ul {
    list-style: none;
    padding: 0;
    margin-right: 5%;
    text-align: right;
}  
.navbar li{
    display: inline-block;
} 
.navbar a{
    text-decoration: none;
    padding: 20px;
    color: rgb(116, 116,116);
    font-size: 15px;
}      
.top-part{
    height: 700px;
}
.first-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}   
h1{
    font-weight: bold;
    font-size: 45px;
    color: rgb(54,57,88);
}
h2{
    font-size: 30px;
    font-weight: bold;
    color: rgb(54,57,88);
}
.name-highlight{
    color: rgb(255,131,103);    
}
img{
    width: 100%;
}


.link-button{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(45deg,lightsalmon, tomato);
    color: white;
    border-radius: 5px;
}
.about-area{
    height: 700px;
}
.second-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.working-area{
    height: 700px;
} 
    
.third-width{
    width: 26%;
    margin-left:4%;
    padding-left: 2%;
    float: left;
}
.work{
    text-align: center;
}
.workflow{
    box-shadow: 10px 10px 40px grey;
    border-radius: 7px;
    height: 60%;
}

.footer-sec{
    
    margin: auto;
    width: 50%;
    text-align: center;
}
.footer-sec .gmail{
    font-family: 'Cabin', sans-serif;
    
}
.footer
.icon{
    text-align: center;
}

.icon img{
    width: 40px;
    height: 40px;
    padding: 5px;
}

